.root-router {
  flex: 1;

  .ant-layout-sider {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      padding-bottom: 20px;
    }
  }

  > .ant-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
